target/
.idea/*
.idea/workspace.xml
.sonar
src/main/webapp/*.html
*.iml
VSA/VermelloSA.iml
VermelloSA.iml
vermelloSA.iml
VSA.iml

# Front-end ignores
bower_components/
eclipse-launch-profiles
node_modules/
public/libs
public/dist
*.orig

